name: Daily Halacha Bot

on:
  workflow_dispatch:
  schedule:
    # ימים ראשון עד חמישי: 07:25 בבוקר (הורדנו את 6 - שבת)
    - cron: '25 5 * * 0,1,2,3,4'
    # יום שישי: 07:30 בבוקר
    - cron: '30 5 * * 5'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        # התקנת ספריות לעיצוב תמונות ועברית
        run: pip install requests Pillow arabic-reshaper python-bidi

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
        run: python bot.py
